<!DOCTYPE html>
<html lang="en">



<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Reconocimiento Facial</title>
     <style>
          .container{
               margin: 0;
               padding: 0;
               width: 100%;
               height: 100vh;
               color: black;
               text-align: center;
          }
     </style>
</head>
<body class = "container">
     <h1>Reconocimiento Facial</h1>
     <img src="{{ url_for('video_feed') }}">
     <p></p>
     <div>
          <button onclick="window.location='/huellas'" >Ingresar Huella</button>
          <button onclick="window.location='/empleados'" >Registrar nuevo empleado</button>
          <button onclick="window.location='/visitas'" >Registrar nueva visita</button>
     </div>

</body>
</html>