<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitas</title>
    <style>
        .container{
               margin: 0;
               padding: 0;
               width: 100%;
               height: 100vh;
               color: black;
               text-align: center;
          }
    </style>
</head>

<body>
    <div class="container fa fa-align-justify" >
        <mat-card class="shipping-card">
            <mat-card-content>
                <h1>Registro de visitas</h1>
                <p>
                    <label for="pseudo">Nombres</label> : <input type="text" name="nombre" id="nombre" />
                </p>
              

                <p>
                    <label for="pseudo">Apellidos</label> : <input type="text" name="apellidos" id="apellidos" />
                </p>
             
                <p>
                    <label for="pseudo">DPI</label> : <input type="text" name="dpi" id="dpi" />
                </p>
             
                <p></p>
                <div>
                    <button onclick="window.location='/'" >Registrar Rostro</button>
                </div>
                
            </mat-card-content>
        </mat-card>
    </div>
</body>

</html>